@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins&display=swap');
#footer-text
{
	font-family: 'Courier New', Courier, monospace;
	text-align: right;
}
#nav-logo
{
	height: 3rem;
	width: auto;
}
.active::after
{
	content: "]";
}
.active::before
{
	content: "[";
}
.header-bg
{
	background-image: linear-gradient(
 90deg,
 rgba(3, 36, 0, .7) 0%,
 rgba(49, 121, 9, .3) 50%,
 rgba(0, 255, 80, .1) 100%
 ),
 url("../img/forest.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
}
body
{
	background-image: url("../img/spikes.png");
	margin-bottom: 10rem;
}
footer
{
	display: flex;
	justify-content: space-between;
  font-size: .5rem;
}
h1, h2
{
	font-family: 'Abril Fatface', cursive;
}
h3, body
{
	font-family: 'Poppins', sans-serif;
}
header
{
	display: flex;
	flex-direction: column-reverse;
}
nav a, nav a:visited
{
	color: black;
}
nav a:hover{
  color:red !important;
}